<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <facebook translate="label" module="facebook">
            <label>Facebook Profile</label>
            <tab>general</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <facebook_group translate="label" module="facebook">
                    <label>Facebook Login Api</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <facebook_input1 translate="label">
                            <label>API Key: </label>
                            <validate>required-entry</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </facebook_input1>		
                    </fields>
                </facebook_group>
            </groups>
        </facebook>
    </sections>
</config>



